.aboutContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 100vh;
    background: #edeff0;

    .aboutImg img {
        width: 100%;
    }

    .aboutInfo {
        width: 500px;

        & h1 {
            font-weight: 500;
            font-size: 60px;
            line-height: 1;
            color: #1f1e1e;
            text-transform: uppercase;
        }
        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid #2a2828;
            margin: 0;
            padding: 0;
        }
        ul li {
            padding: 20px 0;
        }

        button {
            margin: 10px 0;
            line-height: 2.4rem;
            font-size: 18px;
            background: transparent;
            border: 1px solid black;
        }

        button:hover {
            cursor: pointer;
            background: #e1ecf1;
            transition: 0.8s ease;
        }

    }

}






