.mainContainer {
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background: #edeff0;

    .mainImg {
        background: #edeff0;
    }

    .mainInfo {
        width: 500px;
        background: #edeff0;

        & h1 {
            text-transform: uppercase;
            font-weight: 500;
            font-size: 60px;
            line-height: 1;
            color: #1f1e1e;
            width: 350px;
        }
        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid #2a2828;
            margin: 1em 0;
            padding: 0;
            width: 350px;
        }


        & p {
            max-width: 320px;
            font-size: 18px;
            line-height: 1.4;
            color: #2a2626;
            opacity: 50%
        }

        button {
            margin: 10px 0;
            line-height: 2.4rem;
            font-size: 18px;
            background: transparent;
            border: 1px solid black;
        }

        button:hover {
            cursor: pointer;
            background: #e1ecf1;
            transition: 0.8s ease;
        }
    }

}






